@* id, password 를 type 하면, type 한 값이 바로 아래 box 에 display 되도록 함 *@
<p>id, password 를 type 하면, type 한 값이 바로 아래 box 에 display 되도록 함</p>
<div id="app1">
    <input type="text" id="user_id" v-model="userId" />
    <input type="password" id="user_psaaword" v-model="userPassword" />
    <button type="button">Sign In</button>
    <br />
    @*{{ ... }} 안에 있는 변수명 userId, userPassword 를 script 에 있는 변수명을 일치 시켜주면 입력내용이 display 됨*@
    ID: {{ userId }}
    <br />
    PASSWORD: {{ userPassword }}
</div>

<br />

@* image 와 간단한 설명을 ul/li list 로 display *@
@* v-for loop 사용 *@
<p>image 와 간단한 설명을 ul/li list 로 display --> v-for loop 사용 </p>
<div id="app2">
    <ul style="list-style: none;">
        <li v-for="item in items">
            <img :src="item.image">
            <br />
            {{ item.title }}
        </li>
    </ul>

    <br />

    @* image 와 간단한 설명을 template tag 를 사용해서 li list 로 display *@
    @* v-for loop 사용 *@
    <p>image 와 간단한 설명을 template tag 를 사용해서 li list 로 display --> v-for loop 사용 </p>
    <ul style="list-style: none;">
        <template v-for="item1 in items">
            <li>
                <img :src="item1.image">
            </li>
            <li>
                {{ item1.title }}
                <br />
                {{ item1.price }}
            </li>
        </template>
    </ul>

</div>

<br />

<div id="app3">
    @*<img id="'thumbnail_${id}'" :src="image">*@
    @* style 라는 class 이름을 만들고*@
    @* <div :style="style">*@
    @*style, fontStyle 라는 class 만들고, [ ... ] 안에 배열로 지정해도 됨 *@
    <p>json 형식으로 style 지정하고 drop down menu </p>
    @*<div v-bind:style="[style, fontStyle]"> ---> 원래는 v-bind:id 인데 대개 v-bind 빼고 :id 로 많이 사용*@
    @*<div :style="[style, fontStyle]">*@
    <div :class="[dropdown, toggle]">
        @*div for test*@
        <ul>
            <li><a href="#">MENU 1</a></li>
            <li><a href="#">MENU 2</a></li>
            <li><a href="#">MENU 3</a></li>
        </ul>
    </div>
</div>

<br />

@* button 과 method 연결 *@
<div id="app4">
    <button type="button" v-on:click="add">ADD</button>
    {{ counter }}

    <input type="text" v-on:keyup.enter="keyUp" />
</div>

<br />

<div id="app5">
    <button type="button" v-on:click="btnClick">Dropdown-Menu</button>

    <div :class="[dropdown, toggle]">
        <ul>
            <li><a href="#">MENU 1</a></li>
            <li><a href="#">MENU 2</a></li>
            <li><a href="#">MENU 3</a></li>
        </ul>
    </div>
</div>

    @* vue.js *@
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>


    let app5 = new Vue({
        el: '#app5',
        data() {
            return {
                id: 1,
                image: 'https://picsum.photos/200/200/?image=353',
                //json 형식으로 class 이름 style 에 backgroud color, font 크기, font 종류를 지정할 수 있음
                style: {
                    background: 'red'
                    //fontSize: '36px',
                    //fontFamily: 'ARIAL'
                },
                fontStyle: {
                    fontSize: '36px',
                    fontFamily: 'arial'
                },
                dropdown: 'dropdown',
                toggle: {
                    on: true
                }
            };
        },
        methods: {
            btnClick() {
                this.toggle.on = !this.toggle.on;
            }
        }



    });

    let app4 = new Vue({
        el: '#app4',
        data() {
            return {
                counter: 0
            };
        },
        methods: {
            add() {
                this.counter ++;
            },
            keyUp(ev) {
                if (ev.keyCode !== 13) {
                    return;
                }
                this.counter++;
            }
        }
    });


    let app3 = new Vue({
        el: '#app3',
        data() {
            return {
                id: 1,
                image: 'https://picsum.photos/200/200/?image=353',
                //json 형식으로 class 이름 style 에 backgroud color, font 크기, font 종류를 지정할 수 있음
                style: {
                    background: 'red'
                    //fontSize: '36px',
                    //fontFamily: 'ARIAL'
                },
                fontStyle: {
                    fontSize: '36px',
                    fontFamily: 'arial'
                },
                dropdown: 'dropdown',
                toggle: {
                    on: true
                }
            }
        }
    });

    @* image 와 간단한 설명을 ul / li list 로 display *@
    new Vue({
        el: '#app2',
        data() {
            return {
                items: [
                    {
                        id: 1,
                        image: 'https://picsum.photos/210/118/?image=1',
                        title: 'Computer',
                        price: '$20.00'
                    },
                    {
                        id: 2,
                        image: 'https://picsum.photos/210/118/?image=100',
                        title: 'Beach',
                        price: '$30.00'
                    },
                    {
                        id: 3,
                        image: 'https://picsum.photos/210/118/?image=160',
                        title: 'Cell Phone',
                        price: '$40.00'
                    },
                    {
                        id: 4,
                        image: 'https://picsum.photos/210/118/?image=200',
                        title: 'Cow',
                        price: '$50.00'
                    }
                ]
            };
        }

    })

    @* id, password 를 type 하면, type 한 값이 바로 아래 box 에 display 되도록 함 *@
    new Vue({
        el: '#app1',
        data() {
            return {
                userId: '',
                userPassword: ''
            }
        }
    })




    </script>





